@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h6 class="display-4">🐍Estudando Python🐍</h6>
    <p>Instagram de Estudos: <a href="https://www.instagram.com/python_studies/">Python Studies</a>.</p>
</div>
<img src="~/Images/python (5).jpg/" asp-append-version="true">
<img src="Imagem\python (5).jpg">

<div class="jumbotron">
    <h1> Hello World </h1>
    <p class="lead"><p>&#128151;</p>Vamos aprender os conceitos da Linguagem de Programação Python🐍 .</p>

</div>
    <div class="jumbotron">
        <p class="lead"></p><h2 class="display-4"> <p>&#128151;</p>O que são algoritmos?🐍</h2> .</p>

        <img src="~/Images/python (1).jpg.jpg/" asp-append-version="true">
        <img src="Imagem\python (1).jpg">

  </div>
        <div class="jumbotron">
            <p class="lead"></p><h2 class="display-4"> <p>&#128151;</p>Operadores e Operações matemáticas🐍</h2> .</p>
            <img src="~/Images/python (4).jpg.jpg/" asp-append-version="true">
            <img src="Imagem\python (4).jpg">

            <p class="lead"> Meu primeiro programa em ASP.NET Core</p>
        </div>

    <p class="lead"> Atualizado em 28/08/2021 </p>
    <p>&#128151;</p>
