@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Teste da Denise</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="jumbotron"> 
    <h1>💜 primeira opção </h1>
    <p class="lead">Teste de mudança de estilo .</p>
</div>
<div class="jumbotron">
    <h1>💜 segunda opção</h1>
    <p class="lead"> Meu primeiro programa em ASP.NET Core</p>
</div>